<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    CeraVe AR app
  </title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

  <!-- Root CSS -->
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/root.css">

  <!-- Common CSS -->
  <link rel="stylesheet" href="/common/css/dashboard.css">
  <link rel="stylesheet" href="/common/css/modal.css">
  <link rel="stylesheet" href="/common/css/review-modal.css">
  <link rel="stylesheet" href="/common/css/ingredients-modal.css">
  <link rel="stylesheet" href="/common/css/ceramides-modal.css">
  <link rel="stylesheet" href="/common/css/efficacy-modal.css">
  <link rel="stylesheet" href="/common/css/how-to-apply-modal.css">
  <script src="//cdn.8thwall.com/web/aframe/8frame-1.1.0.min.js"></script>
  <script src="//cdn.8thwall.com/web/xrextras/xrextras.js"></script>
  <script async
    src="//apps.8thwall.com/xrweb?appKey=pgr1mJBpjruZlel5ZFsHcX0jy4zRxrZhTvoqMIuK2fHLbni1uvrftOtsB6R58eQ4VQEUpM">
  </script>

  <!-- Mobile Console -->
  <!-- <script src="//cdn.jsdelivr.net/npm/eruda"></script>
  <script>eruda.init();</script> -->

  <!-- Written components -->
  <script src="/common/components/tap-place-cursor.js"></script>
  <script src="/common/components/align-to-camera.js"></script>
  <script src="/common/components/tap-hotspot.js"></script>
  <script src="/common/components/handle-swipes.js"></script>
  <script src="/common/components/new-tab.js"></script>
  <script src="/common/components/cubemap-static.js"></script>
  
  <!-- Look At component -->
  <script src="https://unpkg.com/aframe-look-at-component@0.8.0/dist/aframe-look-at-component.min.js"></script>
  <!-- Meshline component -->
  <script src="https://raw.githack.com/andreasplesch/aframe-meshline-component/master/dist/aframe-meshline-component.min.js"></script>
</head>

<body>
  <div class="ui-container">
    <!-- Place Product info -->
    <div id="place-product" class="place-product-info">
      <img class="place-product-icon" src="/common/images/dashboard/place-product.gif">
      <p class="place-product-text"><%= data.languageText.placeHereInfo%></p>
    </div>
    <!-- Dashboard UI partial -->
    <%- include('../views/partials/dashboard', { languageText: data.languageText, dashboardData: data.dashboardData }) %>

      <!-- Review Modal partial -->
      <%- include('../views/partials/modal', { languageText: data.languageText, type: 'review' , className: 'modal-review' ,
        reviews: data.productData.reviews }) %>

        <!-- Ingredients modal partial -->
        <%- include('../views/partials/modal', { languageText: data.languageText, type: 'ingredients' ,
          className: 'modal-ingredients' , ingredients: data.productData.ingredients }) %>

        <!-- Ceramides modal partial -->
        <%- include('../views/partials/modal', { languageText: data.languageText, type: 'ceramides' ,
          className: 'modal-ceramides' , ceramides: data.productData.ceramides }) %>

        <!-- Efficacy modal partial -->
        <%- include('../views/partials/modal', { languageText: data.languageText, type: 'efficacy' ,
          className: 'modal-efficacy' , efficacy: data.productData.efficacy }) %>

        <!-- How to Apply modal partial -->
        <%- include('../views/partials/modal', { languageText: data.languageText, type: 'howToApply' ,
          className: 'modal-how-to-apply' , howToApply: data.productData.howToApply }) %>
  </div>

  <a-scene xrextras-gesture-detector xrextras-almost-there xrextras-loading xrextras-runtime-error
    renderer="colorManagement: true" xrweb handle-swipes swipeEnabled="0" dasboardTapEnabled="1">

    <!-- We can define assets here to be loaded when A-Frame initializes -->
    <a-assets>
      <!-- 3D MODELS -->
      <!-- Common models -->
      <a-asset-item id="podium-model" src="/common/3d-models/podium.glb"></a-asset-item>
      <a-asset-item id="star-glb" src="/common/3d-models/star.glb"></a-asset-item>
      <a-asset-item id="close-icon-glb" src="/common/3d-models/close-icon.glb"></a-asset-item>
      <a-asset-item id="magnifying-glass-icon-glb" src="/common/3d-models/magnifying-glass-icon.glb"></a-asset-item>
      <a-asset-item id="pin-icon-glb" src="/common/3d-models/pin.glb"></a-asset-item>

      <!-- P1 - Hydrating Cleanser -->
      <a-asset-item id="hydrating-cleanser-model" src="<%= data.productData.variant.modelURL%>"></a-asset-item>

      <!-- Cubemap Static Images -->
      <img id="posx" src="/common/images/cubemap/posx.jpg">
      <img id="posy" src="/common/images/cubemap/posy.jpg">
      <img id="posz" src="/common/images/cubemap/posz.jpg">
      <img id="negx" src="/common/images/cubemap/negx.jpg">
      <img id="negy" src="/common/images/cubemap/negy.jpg">
      <img id="negz" src="/common/images/cubemap/negz.jpg">

      <!--Frequently BT State assets-->
      <img id="frequently-bt-p1" src="<%= data.productData.frequentlyBT.url1 %>">
      <img id="frequently-bt-p2" src="<%= data.productData.frequentlyBT.url2 %>">
      <img id="frequently-bt-p3" src="<%= data.productData.frequentlyBT.url3 %>">

      <!-- Cream Texture Images -->
      <!-- <img id="cream-tex-img-1" src="/images/texture-01.png">
      <img id="cream-tex-img-2" src="/images/texture-02.png"> -->
      <img id="cream-tex-img-1" src="<%= data.productData.howToApply.textureImage1URL%>">
      <img id="cream-tex-img-2" src="<%= data.productData.howToApply.textureImage2URL%>">

      <!--DEFINING MIXINS-->
      <!--Hotspot mixin for creating hotspot spheres-->
      <a-mixin id="hotspot-target" scale="0 0 0" geometry="primitive: sphere; radius: 0.25"
        material="transparent: true; opacity: 0.5; color: rgb(0, 114, 206)" tap-hotspot></a-mixin>

      <!--Hotspot text-->
      <a-mixin id="hotspot-text" text="font: exo2bold; width: 2.5; align: center; anchor:center; color: white;"
        position="0 -0.2 0.2" tap-hotspot></a-mixin>
    </a-assets>

    <!-- The raycaster will emit mouse events on scene objects specified with the cantap class -->
    <a-camera id="camera" position="0 7 0" raycaster="objects: .cantap" cursor="fuse: false; rayOrigin: mouse;">
    </a-camera>

    <!-- Reticle -->
    <a-entity id="reticle" tap-place-cursor>
      <!-- Reticle Aligner -->
      <a-entity id="reticle-aligner" look-at="[camera]" rotation="0 0 0"></a-entity>

      <!-- Reticle Group -->
      <a-entity id="reticle-group" align-to-camera>
        <a-ring rotation="-90 0 0" material="shader: flat; color: #ffffff;"
          radius-inner="0.4" radius-outer="0.6">
          <a-text value="<%= data.languageText.placeHereText %>" position="0 0 3" scale="5 5 1" rotation="90 0 0" align="center"></a-text>
        </a-ring>

        <!-- Pin -->
        <a-entity gltf-model="#pin-icon-glb"
          animation="property: position; to: 0 0.5 0; loop: true; dur: 1000; dir: alternate; easing: easeInOutQuad"
          animation__spin="property: rotation; to: 0 360 0; dur: 10000; dir: normal; easing: linear; loop: true">
        </a-entity>
      </a-entity>
    </a-entity>

    <!-- Ambient light -->
    <a-light type="ambient" intensity="0.1"></a-light>

    <!-- Adding the cantap class allows the ground to be clicked -->
    <a-box id="ground" scale="1000 2 1000" position="0 -1 0" class="cantap" shadow="receive: true"
      material="shader: shadow; transparent: true; opacity: 0.35">
    </a-box>

    <!-- Base Element -->
    <a-entity id="base" visible="true" scale="0 0 0" position="0 0 -10" product-placed="0">
      <a-entity id="podium" 
        gltf-model="#podium-model"
        cubemap-static align-to-camera
        shadow="cast:true; receive:true;" 
        material="shader: shadow; transparent: true; opacity: 0.4">
        <a-entity light="
          type: directional;
          intensity: 0.8;
          castShadow: true;
          shadowMapHeight:2048;
          shadowMapWidth:2048;
          shadowCameraTop: 20;
          shadowCameraBottom: -20;
          shadowCameraRight: 20;
          shadowCameraLeft: -20;
          target: #base" position="8 15 10" shadow>
        </a-entity>
      </a-entity>

      <!-- TEST MAC BRANCH -->
      <!-- Product -->
      <a-entity id="product" position="0 0 0" rotation="0 0 0" opened="0" align-to-camera
        gltf-model="#hydrating-cleanser-model"
        shadow="cast:true; receive:false;"
        animation="property: position; to: 0 0.25 0; loop: true; dur: 1000; dir: alternate; easing: easeInOutQuad"
        cubemap-static>
      </a-entity>

      <!-- Hospot Aligner -->
      <a-entity id="hotspot-aligner" look-at="[camera]" rotation="0 0 0"></a-entity>

      <!-- All States Aligner -->
      <a-entity id="all-states-aligner" align-to-camera>
        <!-- Hotspots Parent -->
        <a-entity id="all-states">
          <!-- Review State -->
          <a-entity id="review-state" visible="true">
            <!--Review Hotspot #1-->
            <a-entity rotation="0 -36 0">
              <a-entity position="0 1 1.5">
                <a-entity id="review-hotspot-1" class="review-hotspot cantap" mixin="hotspot-target"  scale="1 1 1" hotspot-value="1">
                  <!--Star inside sphere-->
                  <a-entity gltf-model="#star-glb"
                    animation="property: rotation; to: 0 360 0; dur: 7000; dir: normal; easing: linear; loop: true">
                  </a-entity>

                  <!--Rating Text-->
                  <a-text value="<%= data.productData.reviews[0].rating %>" mixin="hotspot-text" position="0 -0.2 0.2" hotspot-value="1"></a-text>
                </a-entity>
              </a-entity>
            </a-entity>

            <!--Review Hotspot #2-->
            <a-entity rotation="0 -12 0">
              <a-entity position="0 1 1.5">
                <a-entity id="review-hotspot-2" class="review-hotspot cantap" mixin="hotspot-target" scale="1 1 1" hotspot-value="2">
                  <!--Star inside sphere-->
                  <a-entity gltf-model="#star-glb"
                    animation="property: rotation; to: 0 360 0; dur: 7000; dir: normal; easing: linear; loop: true">
                  </a-entity>

                  <!--Rating Text-->
                  <a-text value="<%= data.productData.reviews[1].rating %>" mixin="hotspot-text" position="0 -0.2 0.2" hotspot-value="2"></a-text>
                </a-entity>
              </a-entity>
            </a-entity>

            <!--Review Hotspot #3-->
            <a-entity rotation="0 12 0">
              <a-entity position="0 1 1.5">
                <a-entity id="review-hotspot-3" class="review-hotspot cantap" mixin="hotspot-target" scale="1 1 1" hotspot-value="3">
                  <!--Star inside sphere-->
                  <a-entity gltf-model="#star-glb"
                    animation="property: rotation; to: 0 360 0; dur: 7000; dir: normal; easing: linear; loop: true">
                  </a-entity>

                  <!--Rating Text-->
                  <a-text value="<%= data.productData.reviews[2].rating %>" mixin="hotspot-text" position="0 -0.2 0.2" hotspot-value="3"></a-text>
                </a-entity>
              </a-entity>
            </a-entity>
            
            <!--Review Hotspot #5-->
            <a-entity rotation="0 36 0">
              <a-entity position="0 1 1.5">
                <a-entity id="review-hotspot-5" class="review-hotspot cantap" mixin="hotspot-target" scale="1 1 1" hotspot-value="5" 
                  new-tab="url: <%= data.productData.moreReviews.url %>">
                  <!--Star inside sphere-->
                  <a-entity gltf-model="#star-glb"
                    animation="property: rotation; to: 0 360 0; dur: 7000; dir: normal; easing: linear; loop: true">
                  </a-entity>

                  <!--Rating Text-->
                  <a-text value="<%= data.languageText.moreReviewsHotspotLabel %>" mixin="hotspot-text" position="0 -0.2 0.2" hotspot-value="5"></a-text>
                </a-entity>
              </a-entity>
            </a-entity>
          </a-entity>

          <!-- Our Science State -->
          <a-entity id="our-science-state" rotation="0 90 0" visible="false">

            <!--Our Science Hotspot #1-->
            <a-entity rotation="0 -24 0">
              <a-entity position="0 1 1.5">
                <a-entity id="ingredients-hotspot" class="our-science-hotspot cantap" mixin="hotspot-target"
                  hotspot-value="1">
                  <!--dodecahedron inside sphere-->
                  <a-entity geometry="primitive: dodecahedron; radius: 0.15;" material="color: #6815B8"
                    animation="property: rotation; to: 0 360 0; dur: 7000; dir: normal; easing: linear; loop: true">
                  </a-entity>

                  <!--Rating Text-->
                  <a-text value="<%= data.languageText.ingredientsHotspotLabel %>" mixin="hotspot-text" position="0 -0.2 0.2" hotspot-value="1"></a-text>
                </a-entity>
              </a-entity>
            </a-entity>

            <!--Our Science Hotspot #2-->
            <a-entity rotation="0 0 0">
              <a-entity position="0 1 1.5">
                <a-entity id="ceramides-hotspot" class="our-science-hotspot cantap" mixin="hotspot-target"
                  hotspot-value="2">
                  <!--dodecahedron inside sphere-->
                  <a-entity geometry="primitive: dodecahedron; radius: 0.15;" material="color: #6815B8"
                    animation="property: rotation; to: 0 360 0; dur: 7000; dir: normal; easing: linear; loop: true">
                  </a-entity>

                  <!--Rating Text-->
                  <a-text value="<%= data.languageText.ceramidesHotspotLabel %>" mixin="hotspot-text" position="0 -0.2 0.2" hotspot-value="2"></a-text>
                </a-entity>
              </a-entity>
            </a-entity>

            <!--Our Science Hotspot #3-->
            <a-entity rotation="0 24 0">
              <a-entity position="0 1 1.5">
                <a-entity id="efficacy-hotspot" class="our-science-hotspot cantap" mixin="hotspot-target"
                  hotspot-value="3">
                  <!--dodecahedron inside sphere-->
                  <a-entity geometry="primitive: dodecahedron; radius: 0.15;" material="color: #6815B8"
                    animation="property: rotation; to: 0 360 0; dur: 7000; dir: normal; easing: linear; loop: true">
                  </a-entity>

                  <!--Rating Text-->
                  <a-text value="<%= data.languageText.efficacyHotspotLabel %>" mixin="hotspot-text" position="0 -0.2 0.2" hotspot-value="3"></a-text>
                </a-entity>
              </a-entity>
            </a-entity>
          </a-entity>

          <!-- Texture State -->
          <a-entity id="texture-state" rotation="0 180 0" visible="false">
            <!--Texture Hotspot #1-->
            <a-entity rotation="0 -12 0">
              <a-entity position="0 1 1.5">
                <a-entity id="texture-hotspot-1" class="texture-hotspot cantap" mixin="hotspot-target"
                  hotspot-value="1">

                  <!--Magnifying glass Icon inside sphere-->
                  <a-entity id="magnifying-glass-icon" gltf-model="#magnifying-glass-icon-glb"
                    animation="property: rotation; to: 0 360 0; dur: 7000; dir: reverse; easing: linear; loop: true">
                  </a-entity>
                  <!--Close Icon inside sphere-->
                  <a-entity id="close-icon" gltf-model="#close-icon-glb" visible="false"
                    animation="property: rotation; to: 0 360 0; dur: 7000; dir: reverse; easing: linear; loop: true">
                  </a-entity>

                  <!--Hotspot Text-->
                  <a-text id="texture-hotspot-1-text" value="<%= data.languageText.lookInsideHotspotLabel %>" mixin="hotspot-text" position="0 -0.2 0.2"
                    hotspot-value="1"></a-text>
                </a-entity>
              </a-entity>
            </a-entity>

            <!--Texture Hotspot #2-->
            <a-entity rotation="0 12 0">
              <a-entity position="0 1 1.5">
                <a-entity id="texture-hotspot-2" class="texture-hotspot cantap" mixin="hotspot-target"
                  hotspot-value="2">

                  <!--octahedron inside sphere-->
                  <a-entity geometry="primitive: octahedron; radius: 0.15;" material="color: #5BC2E7"
                    animation="property: rotation; to: 0 360 0; dur: 7000; dir: normal; easing: linear; loop: true">
                  </a-entity>

                  <!--Hotspot Text-->
                  <a-text value="<%= data.languageText.howToApplyHotspotLabel %>" mixin="hotspot-text" position="0 -0.2 0.2" hotspot-value="2"></a-text>
                </a-entity>
              </a-entity>
            </a-entity>

            <!-- Cream Texture Image #1 -->
            <a-entity><a-entity><a-entity id="cream-tex-1" visible="false">
              <a-image src="#cream-tex-img-1" position="-1 2.5 1" scale="1 1 1"></a-image>
              <!-- <a-entity meshline="lineWidth: 3; path: 0 1.25 0, 1.5 1.25 0, 2 4 0; color: rgb(0, 114, 206)"></a-entity> -->
            </a-entity></a-entity></a-entity>

            <!-- Cream Texture Image #2 -->
            <a-entity><a-entity><a-entity id="cream-tex-2" visible="false">
              <a-image src="#cream-tex-img-2" position="-1 1.5 1" scale="1 1 1"></a-image>
              <!-- <a-entity meshline="lineWidth: 3; path: 0 1.25 0, -1.5 1.25 0, -2 3.5 0; color: rgb(0, 114, 206)"></a-entity> -->
            </a-entity></a-entity></a-entity>
          </a-entity>

          <!-- Frequently BT State -->
          <a-entity id="frequently-bt-state" rotation="0 270" visible="false">
            <!--Frequently BT Panel #1-->
            <a-entity><a-entity>
              <a-curvedimage id="frequently-bt-panel-1" class="cantap" rotation="0 -45 0" height="0.9" radius="1.5"
                color="white" position="0 3 0" scale="0 0 0" theta-length="90" src="#frequently-bt-p1">
              </a-curvedimage>
            </a-entity></a-entity>
            
            <!--Frequently BT Panel #2-->
            <a-entity><a-entity>
            <a-curvedimage id="frequently-bt-panel-2" class="cantap" rotation="0 -45 0" height="0.9" radius="1.5" 
              color="white" position="0 2 0" scale="0 0 0" theta-length="90" src="#frequently-bt-p2"
              new-tab="url: <%= data.productData.frequentlyBT.product1url %>"></a-curvedimage>
            </a-entity></a-entity>
            
            <!--Frequently BT Panel #3-->
            <a-entity><a-entity>
            <a-curvedimage id="frequently-bt-panel-3" class="cantap" rotation="0 -45 0" height="0.9" radius="1.5" 
              color="white" position="0 1 0" scale="0 0 0" theta-length="90" src="#frequently-bt-p3"
              new-tab="url: <%= data.productData.frequentlyBT.product2url %> "></a-curvedimage>
            </a-entity></a-entity>
          </a-entity>
        </a-entity>
      </a-entity>
    </a-entity>
  </a-scene>

  <!-- <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
    integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script> -->
    <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  <!-- <script src="/product/js/index.js"></script> -->
</body>

</html>