<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    CeraVe AR app
  </title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/root.css">
  <link rel="stylesheet" href="/product/css/menu.css">
  <link rel="stylesheet" href="/product/css/modal.css">
  <link rel="stylesheet" href="/product/css/review-modal.css">
  <link rel="stylesheet" href="/product/css/ingredients-modal.css">
  <link rel="stylesheet" href="/product/css/ceramides-modal.css">
  <link rel="stylesheet" href="/product/css/efficacy-modal.css">
  <link rel="stylesheet" href="/product/css/how-to-apply-modal.css">
  <script src="//cdn.8thwall.com/web/aframe/8frame-1.1.0.min.js"></script>
  <script src="//cdn.8thwall.com/web/xrextras/xrextras.js"></script>
  <script async
    src="//apps.8thwall.com/xrweb?appKey=pgr1mJBpjruZlel5ZFsHcX0jy4zRxrZhTvoqMIuK2fHLbni1uvrftOtsB6R58eQ4VQEUpM"></script>
  <script src="/product/tap-place-cursor.js"></script>
  <script src="/product/align-to-camera.js"></script>
  <script src="/product/tap-hotspot.js"></script>
  <script src="/product/handle-swipes.js"></script>
  <script src="/product/new-tab.js"></script>
  <script src="/product/cubemap-static.js"></script>

  <!-- Mobile Console -->
  <script src="//cdn.jsdelivr.net/npm/eruda"></script>
  <script>eruda.init();</script>

  <!-- Look At component -->
  <script src="https://unpkg.com/aframe-look-at-component@0.8.0/dist/aframe-look-at-component.min.js"></script>
</head>

<body>
  <div class="ui-container">
    <!-- Dashboard UI partial -->
    <%- include('../partials/menu', { menuList: data.menuList }) %>

      <!-- Review Modal partial -->
      <%- include('../partials/modal', { languageText: data.languageText, type: 'review' , className: 'modal-review' ,
        reviews: data.productData.reviews }) %>

        <!-- Our Science partial -->
        <%- include('../partials/modal', { languageText: data.languageText, type: 'ingredients' ,
          className: 'modal-ingredients' , ingredients: data.productData.ingredients }) %>
          <%- include('../partials/modal', { languageText: data.languageText, type: 'ceramides' ,
            className: 'modal-ceramides' , ceramides: data.productData.ceramides }) %>
            <%- include('../partials/modal', { languageText: data.languageText, type: 'efficacy' ,
              className: 'modal-efficacy' , efficacy: data.productData.efficacy }) %>

              <!-- Texture How to Apply modal partial -->
              <%- include('../partials/modal', { languageText: data.languageText, type: 'howToApply' ,
                className: 'modal-how-to-apply' , howToApply: data.productData.howToApply }) %>

  </div>

  <a-scene xrextras-gesture-detector xrextras-almost-there xrextras-loading xrextras-runtime-error
    renderer="colorManagement: true" xrweb handle-swipes swipeEnabled="0" dasboardTapEnabled="1">

    <!-- We can define assets here to be loaded when A-Frame initializes -->
    <a-assets>
      <!-- 3D MODELS -->
      <a-asset-item id="podium-model" src="/product/models/podium.glb"></a-asset-item>
      <a-asset-item id="hydrating-cleanser-model" src="/product/models/hydrating-cleanser.glb"></a-asset-item>

      <a-asset-item id="star-glb" src="/product/models/star.glb"></a-asset-item>
      <a-asset-item id="close-icon-glb" src="/product/models/close-icon.glb"></a-asset-item>
      <a-asset-item id="magnifying-glass-icon-glb" src="/product/models/magnifying-glass-icon.glb"></a-asset-item>

      <!-- Cubemap Static Images -->
      <img id="posx" src="/images/cubemap/posx.jpg">
      <img id="posy" src="/images/cubemap/posy.jpg">
      <img id="posz" src="/images/cubemap/posz.jpg">
      <img id="negx" src="/images/cubemap/negx.jpg">
      <img id="negy" src="/images/cubemap/negy.jpg">
      <img id="negz" src="/images/cubemap/negz.jpg">

      <!--Frequently BT State assets-->
      <img id="frequently-bt-p1" src="<%= data.productData.frequentlyBT.url1 %>">
      <img id="frequently-bt-p2" src="<%= data.productData.frequentlyBT.url2 %>">
      <img id="frequently-bt-p3" src="<%= data.productData.frequentlyBT.url3 %>">  


      <!--DEFINING MIXINS-->
      <!--Hotspot mixin for creating hotspot spheres-->
      <a-mixin id="hotspot-target" scale="0 0 0" geometry="primitive: sphere; radius: 0.25" cubemap-static
        material="transparent: true; opacity: 0.5; color: rgb(0, 114, 206)" tap-hotspot></a-mixin>

      <!--Hotspot text-->
      <a-mixin id="hotspot-text" text="font: exo2bold; width: 2.5; align: center; anchor:center; color: white;"
        position="0 -0.2 0.2" tap-hotspot></a-mixin>
    </a-assets>

    <!-- The raycaster will emit mouse events on scene objects specified with the cantap class -->
    <a-camera id="camera" position="0 7 0" raycaster="objects: .cantap" cursor="fuse: false; rayOrigin: mouse;">
    </a-camera>

    <!-- Reticle -->
    <a-entity id="reticle" tap-place-cursor>
      <!-- Reticle Aligner -->
      <a-entity id="reticle-aligner" look-at="[camera]" rotation="0 0 0"></a-entity>

      <!-- Reticle Group -->
      <a-entity id="reticle-group" align-to-camera>
        <a-ring rotation="-90 0 0" material="shader: flat; color: #5AC8FA" radius-inner="0.5" radius-outer="0.8">
          <a-text value="Place Here" position="0 2 0" scale="5 5 1" rotation="90 0 0" align="center"></a-text>
        </a-ring>
      </a-entity>
    </a-entity>

    <a-entity light="
      type: directional;
      intensity: 0.8;
      castShadow: true;
      shadowMapHeight:2048;
      shadowMapWidth:2048;
      shadowCameraTop: 20;
      shadowCameraBottom: -20;
      shadowCameraRight: 20;
      shadowCameraLeft: -20;
      target: #camera" xrextras-attach="target: camera; offset: 4 15 10" position="1 4.3 2.5" shadow>
    </a-entity>

    <a-light type="ambient" intensity="0.1"></a-light>

    <!-- Adding the cantap class allows the ground to be clicked -->
    <a-box id="ground" scale="1000 2 1000" position="0 -1 0" class="cantap" shadow="receive: true"
      material="shader: shadow; transparent: true; opacity: 0.4">
    </a-box>

    <!-- Base Element -->
    <a-entity id="base" visible="true" scale="1 1 1" product-placed="0" xrextras-pinch-scale="min:0.5; max:3;">
      <!-- Podium -->
      <a-entity id="podium" gltf-model="#podium-model" align-to-camera shadow="cast:true; receive:true;" material="shader: shadow; transparent: true; opacity: 0.4">
      </a-entity>

      <!-- Product -->
      <a-entity id="product" position="0 0 0" opened="0" 
        gltf-model="#hydrating-cleanser-model"  
        shadow="cast:true; receive:false;"
        xrextras-one-finger-rotate cubemap-static>
      </a-entity>

      <!-- Hospot Aligner -->
      <a-entity id="hotspot-aligner" look-at="[camera]" rotation="0 0 0"></a-entity>

      <!-- All States Aligner -->
      <a-entity id="all-states-aligner" align-to-camera>
        <!-- Hotspots Parent -->
        <a-entity id="all-states">
          <!-- Review State -->
          <a-entity id="review-state" visible="true">
            <!--Review Hotspot #1-->
            <a-entity rotation="0 -48 0">
              <a-entity position="0 1 1.5">
                <a-entity id="review-hotspot-1" class="review-hotspot cantap" mixin="hotspot-target"  scale="1 1 1" hotspot-value="1">
                  <!--Star inside sphere-->
                  <a-entity gltf-model="#star-glb"
                    animation="property: rotation; to: 0 360 0; dur: 7000; dir: normal; easing: linear; loop: true">
                  </a-entity>

                  <!--Rating Text-->
                  <a-text value="4.5" mixin="hotspot-text" position="0 -0.2 0.2" hotspot-value="1"></a-text>
                </a-entity>
              </a-entity>
            </a-entity>

            <!--Review Hotspot #2-->
            <a-entity rotation="0 -24 0">
              <a-entity position="0 1 1.5">
                <a-entity id="review-hotspot-2" class="review-hotspot cantap" mixin="hotspot-target" scale="1 1 1" hotspot-value="2">
                  <!--Star inside sphere-->
                  <a-entity gltf-model="#star-glb"
                    animation="property: rotation; to: 0 360 0; dur: 7000; dir: normal; easing: linear; loop: true">
                  </a-entity>

                  <!--Rating Text-->
                  <a-text value="4.7" mixin="hotspot-text" position="0 -0.2 0.2" hotspot-value="2"></a-text>
                </a-entity>
              </a-entity>
            </a-entity>

            <!--Review Hotspot #3-->
            <a-entity rotation="0 0 0">
              <a-entity position="0 1 1.5">
                <a-entity id="review-hotspot-3" class="review-hotspot cantap" mixin="hotspot-target" scale="1 1 1" hotspot-value="3">
                  <!--Star inside sphere-->
                  <a-entity gltf-model="#star-glb"
                    animation="property: rotation; to: 0 360 0; dur: 7000; dir: normal; easing: linear; loop: true">
                  </a-entity>

                  <!--Rating Text-->
                  <a-text value="4.8" mixin="hotspot-text" position="0 -0.2 0.2" hotspot-value="3"></a-text>
                </a-entity>
              </a-entity>
            </a-entity>

            <!--Review Hotspot #4-->
            <a-entity rotation="0 24 0">
              <a-entity position="0 1 1.5">
                <a-entity id="review-hotspot-4" class="review-hotspot cantap" mixin="hotspot-target" scale="1 1 1" hotspot-value="4">
                  <!--Star inside sphere-->
                  <a-entity gltf-model="#star-glb"
                    animation="property: rotation; to: 0 360 0; dur: 7000; dir: normal; easing: linear; loop: true">
                  </a-entity>

                  <!--Rating Text-->
                  <a-text value="5" mixin="hotspot-text" position="0 -0.2 0.2" hotspot-value="4"></a-text>
                </a-entity>
              </a-entity>
            </a-entity>

            <!--Review Hotspot #5-->
            <a-entity rotation="0 48 0">
              <a-entity position="0 1 1.5">
                <a-entity id="review-hotspot-5" class="review-hotspot cantap" mixin="hotspot-target" scale="1 1 1" hotspot-value="5">
                  <!--Star inside sphere-->
                  <a-entity gltf-model="#star-glb"
                    animation="property: rotation; to: 0 360 0; dur: 7000; dir: normal; easing: linear; loop: true">
                  </a-entity>

                  <!--Rating Text-->
                  <a-text value="4.9" mixin="hotspot-text" position="0 -0.2 0.2" hotspot-value="5"></a-text>
                </a-entity>
              </a-entity>
            </a-entity>
          </a-entity>

          <!-- Our Science State -->
          <a-entity id="our-science-state" rotation="0 90 0" visible="false">

            <!--Our Science Hotspot #1-->
            <a-entity rotation="0 -24 0">
              <a-entity position="0 1 1.5">
                <a-entity id="ingredients-hotspot" class="our-science-hotspot cantap" mixin="hotspot-target"
                  hotspot-value="1">
                  <!--dodecahedron inside sphere-->
                  <a-entity geometry="primitive: dodecahedron; radius: 0.15;" material="color: #6815B8"
                    animation="property: rotation; to: 0 360 0; dur: 7000; dir: normal; easing: linear; loop: true">
                  </a-entity>

                  <!--Rating Text-->
                  <a-text value="Ingredients" mixin="hotspot-text" position="0 -0.2 0.2" hotspot-value="1"></a-text>
                </a-entity>
              </a-entity>
            </a-entity>

            <!--Our Science Hotspot #2-->
            <a-entity rotation="0 0 0">
              <a-entity position="0 1 1.5">
                <a-entity id="ceramides-hotspot" class="our-science-hotspot cantap" mixin="hotspot-target"
                  hotspot-value="2">
                  <!--dodecahedron inside sphere-->
                  <a-entity geometry="primitive: dodecahedron; radius: 0.15;" material="color: #6815B8"
                    animation="property: rotation; to: 0 360 0; dur: 7000; dir: normal; easing: linear; loop: true">
                  </a-entity>

                  <!--Rating Text-->
                  <a-text value="Ceramides" mixin="hotspot-text" position="0 -0.2 0.2" hotspot-value="2"></a-text>
                </a-entity>
              </a-entity>
            </a-entity>

            <!--Our Science Hotspot #3-->
            <a-entity rotation="0 24 0">
              <a-entity position="0 1 1.5">
                <a-entity id="efficacy-hotspot" class="our-science-hotspot cantap" mixin="hotspot-target"
                  hotspot-value="3">
                  <!--dodecahedron inside sphere-->
                  <a-entity geometry="primitive: dodecahedron; radius: 0.15;" material="color: #6815B8"
                    animation="property: rotation; to: 0 360 0; dur: 7000; dir: normal; easing: linear; loop: true">
                  </a-entity>

                  <!--Rating Text-->
                  <a-text value="Efficacy" mixin="hotspot-text" position="0 -0.2 0.2" hotspot-value="3"></a-text>
                </a-entity>
              </a-entity>
            </a-entity>
          </a-entity>

          <!-- Texture State -->
          <a-entity id="texture-state" rotation="0 180 0" visible="false">
            <!--Texture Hotspot #1-->
            <a-entity rotation="0 -12 0">
              <a-entity position="0 1 1.5">
                <a-entity id="texture-hotspot-1" class="texture-hotspot cantap" mixin="hotspot-target"
                  hotspot-value="1">

                  <!--Magnifying glass Icon inside sphere-->
                  <a-entity id="magnifying-glass-icon" gltf-model="#magnifying-glass-icon-glb"
                    animation="property: rotation; to: 0 360 0; dur: 7000; dir: reverse; easing: linear; loop: true">
                  </a-entity>
                  <!--Close Icon inside sphere-->
                  <a-entity id="close-icon" gltf-model="#close-icon-glb" visible="false"
                    animation="property: rotation; to: 0 360 0; dur: 7000; dir: reverse; easing: linear; loop: true">
                  </a-entity>

                  <!--Hotspot Text-->
                  <a-text id="texture-hotspot-1-text" value="Look inside" mixin="hotspot-text" position="0 -0.2 0.2"
                    hotspot-value="1"></a-text>
                </a-entity>
              </a-entity>
            </a-entity>

            <!--Texture Hotspot #2-->
            <a-entity rotation="0 12 0">
              <a-entity position="0 1 1.5">
                <a-entity id="texture-hotspot-2" class="texture-hotspot cantap" mixin="hotspot-target"
                  hotspot-value="2">

                  <!--octahedron inside sphere-->
                  <a-entity geometry="primitive: octahedron; radius: 0.15;" material="color: #5BC2E7"
                    animation="property: rotation; to: 0 360 0; dur: 7000; dir: normal; easing: linear; loop: true">
                  </a-entity>

                  <!--Hotspot Text-->
                  <a-text value="How to Apply" mixin="hotspot-text" position="0 -0.2 0.2" hotspot-value="2"></a-text>
                </a-entity>
              </a-entity>
            </a-entity>
          </a-entity>

          <!-- Frequently BT State -->
          <a-entity id="frequently-bt-state" rotation="0 270" visible="false">
            <!--Frequently BT Panel #1-->
            <a-entity><a-entity>
              <a-curvedimage id="frequently-bt-panel-1" class="cantap" rotation="0 -45 0" height="0.9" radius="1.5" 
                color="white" position="0 3 0" scale="0 0 0" theta-length="90" src="#frequently-bt-p1">
              </a-curvedimage>
            </a-entity></a-entity>
            
            <!--Frequently BT Panel #2-->
            <a-entity><a-entity>
            <a-curvedimage id="frequently-bt-panel-2" class="cantap" rotation="0 -45 0" height="0.9" radius="1.5" 
              color="white" position="0 2 0" scale="0 0 0" theta-length="90" src="#frequently-bt-p2"
              new-tab="url: <%= data.productData.frequentlyBT.product1url %>"></a-curvedimage>
            </a-entity></a-entity>
            
            <!--Frequently BT Panel #3-->
            <a-entity><a-entity>
            <a-curvedimage id="frequently-bt-panel-3" class="cantap" rotation="0 -45 0" height="0.9" radius="1.5" 
              color="white" position="0 1 0" scale="0 0 0" theta-length="90" src="#frequently-bt-p3"
              new-tab="url: <%= data.productData.frequentlyBT.product2url %> "></a-curvedimage>
            </a-entity></a-entity>
          </a-entity>
        </a-entity>
      </a-entity>


    </a-entity>
  </a-scene>

  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
    integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
  <script src="/product/js/index.js"></script>
</body>

</html>