<div id="dashboard" class="dashboard-ui hide" >
  <button type="button" id="reset-button" class="reset-btn">  <%= languageText.resetButtonText %> </button>
  
  <div id="info-email-container" class="info-email">
    <button type="button" id="info-button" class="info-btn active" onclick="openInstructionOverlay()"><img class="icon" src="/common/images/dashboard/info-icon.png"></button>
    <button type="button" id="email-button" class="email-btn"><img class="icon" src="/common/images/dashboard/email-icon.png" onclick="window.open('<%= data.productData.crmURL %>'); resetProduct();"></button>   
  </div>

  <div id="instruction-container" class="inst hide">
    <img class="swipe-rotate-icon" src="/common/images/dashboard/swipe-to-rotate.gif">
    <p class="swipe-rotate-text"><%= languageText.swipeInstText%></p>
    <img class="pinch-scale-icon" src="/common/images/dashboard/pinch-to-scale.gif">
    <p class="pinch-scale-text"><%= languageText.pinchScaleInstText%></p>
    <img class="close-inst" src="/common/images/dashboard/close-icon.png" onclick="closeInstructionOverlay()">
  </div>
  

  <div class="radio-toolbar">
    <% dashboardData.forEach(function(item) { %>
      <div class="radio-button">
        <div>
          <input type="radio" id="<%= item.id %>" name="dashboard" value="<%= item.value %>" onclick="switchDashboard(this)" />
          <label for="<%= item.id %>">
            <img class="icon" src="<%= item.image %>">
          </label>
        </div>
        <p class="radio-label"><%= languageText[item.name] %></p>
      </div>
    <% }); %>
    <div class="radio-toolbar-wrapper"></div>
  </div>

</div>