<% reviews.forEach(function(review) { %>
  <div id="review-<%= review.id %>" class="review-modal hide">
    <p dir="auto" class="review-modal__title"><%= review.head %></p>
    <div id="review-modal-info" dir="auto" class="review-modal__info">
      <p id="review-modal-info-text-1" dir="auto" class="review-modal__info-text"><%= review.name %></p>
      <p dir="auto" class="review-modal__info-text"><%= review.age %></p>
    </div>
    <div dir="auto" class="review-modal__rating">
      <% [...Array(Math.round(review.rating))].forEach(function(menu) { %>
        <i id="star" dir="auto" class="fa fa-star" style="padding-right: 2px; color: #0072CE"></i>
        <% }); %>
    </div>
    <div dir="auto" class="review-modal__content">
      <%= review.review %>
    </div>
  </div>
<% }); %>