<div id="dashboard" class="dashboard-ui hide" >
  <button type="button" id="reset-button" class="reset-btn"><img class="icon" src="/images/reset-icon.png"></i></button>

  <div class="radio-toolbar">
    <% menuList.forEach(function(menu) { %>
      <div class="radio-button">
        <div>
          <input type="radio" id="<%= menu.id %>" name="dashboard" value="<%= menu.value %>" onclick="switchDashboard(this)" />
          <label for="<%= menu.id %>">
            <img class="icon" src="<%= menu.image %>">
          </label>
        </div>
        <p class="radio-label"><%= menu.name %></p>
      </div>
    <% }); %>
    <div class="radio-toolbar-wrapper"></div>
  </div>

</div>