<div class="modal-container">
  <div class="modal <%= className %>">
    <% if (type==='review' ) { %>
      <%- include('../partials/reviewModal', { languageText: languageText }) %>
        <% } %>
    <% if (type==='ingredients' ) { %>
      <%- include('../partials/ingredientsModal', { languageText: languageText }) %>
        <% } %>
    <% if (type==='ceramides' ) { %>
      <%- include('../partials/ceramidesModal', { languageText: languageText }) %>
          <% } %>
    <% if (type==='efficacy' ) { %>
      <%- include('../partials/efficacyModal', { languageText: languageText }) %>
          <% } %>
  </div>
</div>