<div id="the-modal" class="modal-container hide">
  <div class="modal <%= className %>">
    <% if (type==='review' ) { %>
      <%- include('../partials/reviewModal', { languageText: languageText }) %>
        <% } %>
    <% if (type==='ingredients' ) { %>
      <%- include('../partials/ingredientsModal', { languageText: languageText }) %>
        <% } %>
    <% if (type==='ceramides' ) { %>
      <%- include('../partials/ceramidesModal', { languageText: languageText }) %>
          <% } %>
    <% if (type==='efficacy' ) { %>
      <%- include('../partials/efficacyModal', { languageText: languageText }) %>
          <% } %>
    <% if (type==='howToApply' ) { %>
        <%- include('../partials/howToApplyModal', { languageText: languageText }) %>
            <% } %>

    <div class="modal__close" onclick="closeModal()">
      <%= languageText.closeButtonText %>
    </div>
  </div>

</div>