<div id= "<%= "review-id-"+id %>" class="review-modal hide">
  <p class="review-modal__title"><%= review[id-1].head %></p>
  <div class="review-modal__info">
    <p class="review-modal__info-text"><%= review[id-1].name %></p>
    <p class="review-modal__info-text"><%= review[id-1].location %></p>
    <p class="review-modal__info-text"><%= review[id-1].age %></p>
  </div>
  <div class="review-modal__rating">
    <% [...Array(Math.round(review[id-1].rating))].forEach(function(menu) { %>
      <i class="fa fa-star" style="color: #0072CE"></i>
      <% }); %>
  </div>
  <div class="review-modal__content">
    <%= review[id-1].review %>
  </div>
  <div class="review-modal__close" onclick="closeModal()">
    <%= languageText.closeButtonText %>
  </div>
</div>